    body {
      font-family: 'Arial', sans-serif;
      background-color: #76d7c4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .chat-container {
      width: 350px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }
p {
    font-size:9px;
}
#chatbox {
      max-height: 300px;
      overflow-y: auto;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #eee;
      border-radius: 5px;
    }
    .message {
      margin-bottom: 15px;
      padding: 8px 12px;
      border-radius: 15px;
      max-width: 80%;
      word-wrap: break-word;
    }
    .user-message {
      text-align: right;
      color: #ffffff;
      background-color: #0084FF;
      margin-left: auto;
    }
    .bot-message {
      text-align: left;
      color: #333;
      background-color:#ecf0f1;
      margin-right: auto;
    }
    input[type="text"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
    button {
      width: 100%;
      padding: 10px;
      background-color: #0097FF;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    button:hover {
      background-color: #45a049;
    }
    .typing {
      font-style: italic;
      color: #aaa;
      margin-top: 5px;
    }
